<header class="mat-elevation-z6 header">
    <mat-toolbar color="primary">        
    
        <div class="header-left">
            <a [routerLink]="['/']">Top 5 Radio</a>
            <a class="admin-link" [routerLink]="['admin', 'ranking']"><span>(Secret)</span> Admin Page</a>
        </div>

        <button mat-icon-button (click)="snav.toggle()" aria-label="Toogle menu">
            <em class="fas fa-align-justify" aria-hidden="true"></em>
        </button>
    
    </mat-toolbar>
</header>

<main class="main">  

    <mat-sidenav-container>          

        <mat-sidenav-content>

            <router-outlet></router-outlet>

        </mat-sidenav-content>  

        <mat-sidenav #snav mode="over" position="end">
            <mat-nav-list>
                <a mat-list-item href="https://docs.docker.com/install/linux/docker-ce/ubuntu/" target="_blank">docs.docker.com</a>
                <a mat-list-item href="https://www.codementor.io/@yomateo/angular-docker-dockerize-your-app-in-5-minutes-video-included-oohw2mzuj" target="_blank">www.codementor.io</a>
            </mat-nav-list>
        </mat-sidenav>

    </mat-sidenav-container>

</main>