.header {
    position: relative;
    z-index: 10;

    .mat-toolbar {
        justify-content: space-between;
    }
    
    .header-left {
        display: flex;
        flex-direction: row;

        a:first-child {
            margin-right: 30px;
        }

        .admin-link {
            font-size: 13px;

            span {
                font-size: 11px;
                color: #cccccc;
            }
        }
    }    
}

.main {
    height: 100%;

    .mat-drawer-container {
        height: inherit;
        padding: 30px;
    }
}